<!doctype html>
<html ng-app="rainbowApp">
<head>
    <script src="js/angular.min.js"></script>
    <script src="js/rainbow.js"></script>
    <link rel="stylesheet" href="css/rainbow.css">
</head>
<body>

<h1>Rainbow packages</h1>

<h2>Select your project and metrics</h2>

<div ng-controller="RainbowController as rainbow">

    <select ng-model="rainbow.selectedProject"
            ng-options="value.id as value.label for value in rainbow.selectableProjects track by value.id"
            ng-change="rainbow.initializeProject()">
    </select>

    <div ng-if="rainbow.selectedProject != 0">
        <h3>Please select your size metric</h3>

        <select ng-model="rainbow.selectedSizeMetric"
                ng-options="value.id as value.label for value in rainbow.selectableSizeMetrics track by value.id">
        </select>

        <!--<h3>Full representation or just a part of the project?</h3>-->

    </div>



</div>
</body>
</html>