<!doctype html>
<html ng-app="rainbowApp">
<head>
    <script type="text/javascript" src="js/d3.min.js"></script>
    <script type="text/javascript" src="js/d3.geom.js"></script>
    <script type="text/javascript" src="js/d3.layout.js"></script>
    <script type="text/javascript" src="js/CodeFlower.js"></script>

    <script src="js/angular.min.js"></script>

    <script type="text/javascript" src="js/angular-tree-control.js"></script>
    <!-- link for CSS when using the tree as a Dom element -->
    <link rel="stylesheet" type="text/css" href="css/tree-control.css">
    <!-- link for CSS when using the tree as an attribute -->
    <link rel="stylesheet" type="text/css" href="css/tree-control-attribute.css">

    <script src="js/rainbow.js"></script>
    <link rel="stylesheet" href="css/rainbow.css">
</head>
<body>

<div ng-controller="RainbowController as rainbow">

    <div ng-if="!rainbow.visualize">

        <h1>Rainbow packages</h1>

        <h2>Select your project and metrics</h2>

        <select ng-model="rainbow.selectedProjectId"
                ng-options="value.id as value.label for value in rainbow.selectableProjects track by value.id"
                ng-change="rainbow.initializeProject()">
        </select>

        <div ng-if="rainbow.selectedProjectId != 0">
            <h3>Please select your size metric</h3>

            <select ng-model="rainbow.selectedSizeMetric"
                    ng-options="value.id as value.label for value in rainbow.selectableSizeMetrics track by value.id">
            </select>

            <h3>Full representation or just a part of the project?</h3>
            <p>Please only select directories, not files.</p>

            <button ng-click="rainbow.toggleTreeNodeView()">
                Show/Hide selection
            </button>

            <!-- as a Dom element -->
            <treecontrol class="tree-classic"
                         tree-model="rainbow.dataForTheTree"
                         options="rainbow.treeOptions"
                         on-selection="rainbow.showSelected(node)"
                         ng-if="rainbow.showTreeNodeView">
                {{ node.name }}
            </treecontrol>

            <br />
            Selected: {{ rainbow.selectedPackage.name }}

            <h3>Ready - Set - Go</h3>

            <button ng-click="rainbow.toggleVisualization()">
                Show visualization
            </button>
        </div>
    </div>


    <div ng-show="rainbow.visualize">
        <button ng-click="rainbow.toggleVisualization()">
            Back to selection
        </button>
        <div id="visualization"></div>
    </div>


</div>
</body>
</html>